@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="text-danger">Access Denied</h1>
<p>@Model.Message</p>

@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-primary" href="/Identity/Account/Login">Login</a>
}
else
{
    <a class="btn btn-warning" href="/Identity/Account/Logout">Logout</a>
}
