<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrefectVotingApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PrefectVotingApplication.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-black bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/AvCol Logo White on Black Landscape.png" alt="Home" style="height:50px; margin-right:10px;" /> 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @* by default everyone can see the prefects/student page *@
                            <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Index">Students</a>
                        </li> 
                        @if (User.IsInRole("Teacher")) //teachers can view only all the votes in the system so if they want to count manually
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Votes" asp-action="AllVotes">All Votes</a>
                        </li>}

                        @if (User.IsInRole("Staff")) //school staff can see all votes and make elections
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Votes" asp-action="AllVotes">All Votes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Election" asp-action="Index">Election(Year)</a>
                            </li>
                        }
                        
                        
                        @if (User.IsInRole("Admin")) // admin can see everything
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Votes" asp-action="AllVotes">All Votes</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Votes" asp-action="Index">VotesLog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Election" asp-action="Index">Election(Year)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                        </li>
                        
                        }
                    </ul>
                </div>
                <partial name="_LoginPartial.cshtml" />
            </div>
        </nav>
    </header>
    @if (ViewData["Title"]?.ToString() == "Home Page")
    {
        <div class="fullscreen-section section1">
            <div class="overlay"></div>
            <div class="content">
                <h1>Welcome to Avondale College</h1>
            </div>
        </div>

        <div class="fullscreen-section section2">
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    
    
    <footer id="bottom-footer" class=" footer text-center p-3">
        <div class="container">
            &copy; 2025 - PrefectVotingApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
